body,
html {
  height: auto;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background: #fff;
  color: #000;
  cursor: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none !important;
  color: #333;
}

a:hover {
  color: #d1093f;
}

.product-detail-section {
  padding: 0 !important;
  box-shadow: none !important;
  max-width: 1360px !important;
  margin: auto !important;
}
