.wrapper-product-details .scotsman-ice-maker-img {
  position: relative;
  max-width: 500px;
  width: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.wrapper-product-details .scotsman-ice-maker-img:hover {
  transform: scale(1.5);
}

/* Wrapper for the thumbnails */
.wrapper-product-details .thumbnail-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;
}

.wrapper-product-details .thumbnail-image-link {
  height: 67px;
  max-width: 75px;
  padding: 2px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

/* Background image styling */
.wrapper-product-details .thumbnail-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* YouTube play icon overlay */
.wrapper-product-details .youtube-play-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Makes the icon non-clickable */
}

.wrapper-product-details .product-heading {
  font-size: 28px !important;
  font-weight: 600;
  margin: 0 0 10px 0;
  line-height: 34px;
}

.wrapper-product-details .product-info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  min-height: 30px;
}

.wrapper-product-details .product-info .info {
  display: flex;
  align-items: center;
  color: #000;
}

.wrapper-product-details .product-info .info .label {
  font-weight: 600;
  margin: 0 5px 0 0;
}

.wrapper-product-details .product-info .info .value {
  color: #434343;
}

.review-link:hover {
  color: #000 !important;
}

.wrapper-product-details .free-shipping-credit-key-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 0;
}

.wrapper-product-details .free-shipping-credit-key-section .credit-key {
  margin-left: 25px;
}

.wrapper-product-details .price-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0 25px 0;
}

.wrapper-product-details .price-section .price-text {
  font-size: 30px !important;
  font-weight: 700;
  letter-spacing: 0;
}

.wrapper-product-details .price-section .ships-free-with-pro-section {
  margin-left: 70px;
  background: #edeef4;
  border: 0px solid #bfbfbf;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 0 0 0 12px;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Hover Effect */
.ships-free-with-pro-section:hover {
  color: #000 !important;
}

.wrapper-product-details .price-section .ships-free-with-pro-section .pro-img {
  height: 30px;
  width: 65px;
  object-fit: contain;
}

.wrapper-product-details .product-options {
  padding: 20px 0;
}

.wrapper-product-details .product-options .add-to-cart-section {
  width: 470px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-product-details
  .product-options
  .add-to-cart-section
  .increment-decrement-section {
  width: 105px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
  background-color: #f6f6f6;
  border: 1px solid #bfbfbf;
}

.wrapper-product-details
  .product-options
  .add-to-cart-section
  .increment-decrement-section
  .increment-decrement-btn {
  color: #fff;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #bababa;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.increment-decrement-btn:hover {
  background-color: #000 !important;
}

.wrapper-product-details
  .product-options
  .add-to-cart-section
  .add-to-cart-btn {
  background-color: #d1093f;
  color: #fff;
  height: 53px;
  width: 250px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  text-transform: none;
}

.add-to-cart-btn:hover {
  background-color: #000 !important;
}

.wrapper-product-details .product-options .add-to-cart-section .favourite-icon {
  height: 43px;
  width: 43px;
}

.favourite-icon:hover {
  fill: #d1093f !important;
}

.wrapper-product-details .sort-description {
  font-size: 13px;
  max-width: 90%;
  padding-top: 10px;
  line-height: 22px;
}

.wrapper-product-details .description-heading {
  font-size: 14px;
  font-weight: 700;
  margin: 15px 0 10px 0;
}
